<ion-card>
  <ion-card-header>
    <ion-text>
      <h5>Наиболее просматриваемые темы сегодня</h5>
      <ion-icon name="information"></ion-icon>
    </ion-text>
  </ion-card-header>
  <ion-card-content>
    <ion-text color="dark">
      <h6 class="first-course">1. Использование 3д графики как конец студии... </h6>
    </ion-text>
    <p>Бараников Ник | 3д аниматор</p>
    <ion-text color="dark">
      <h6>2. Прибыль с мерча Смешариков</h6>
    </ion-text>
    <p>Томаев Иван | главный бухгалтер </p>
    <ion-text color="dark">
     <h6>3.Азы анимации для "Чайников"</h6>
    </ion-text>
    <p>Прохор Батюшков | Аниматор</p>
    <ion-button color="dark" size="small" color="danger" fill="clear"><ion-text color="medium">Посмотреть остальные статьи</ion-text><ion-icon color="medium" class="ion-padding" name="arrow-forward-outline"></ion-icon></ion-button>
  </ion-card-content>
</ion-card>
